**/.DS_Store
__pycache__/
data/
heatmaps/demo
data2
data_tcga_brca/
data_tcga_crc/DATA_DIRECTORY
data_tcga_crc/RESULTS_DIRECTORY/masks
data_tcga_crc/RESULTS_DIRECTORY/patches
data_tcga_crc/RESULTS_DIRECTORY/stitches
heatmaps/heatmap_raw_results/HEATMAP_OUTPUT/tumor/TCGA-3L-AA1B-01Z-00-DX2.17CE3683-F4B1-4978-A281-8F620C4D77B4/TCGA-3L-AA1B-01Z-00-DX2.17CE3683-F4B1-4978-A281-8F620C4D77B4.pt
heatmaps/heatmap_raw_results/HEATMAP_OUTPUT/tumor/TCGA-3L-AA1B-01Z-00-DX2.17CE3683-F4B1-4978-A281-8F620C4D77B4/TCGA-3L-AA1B-01Z-00-DX2.17CE3683-F4B1-4978-A281-8F620C4D77B4.h5
